<!DOCTYPE html><html lang="en" ng-app="app" ng-controller="appMain"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1"><meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"><meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"><title>{{::UrlCloud}}</title><base href="/"><!--[if lte IE 9]>
    <style type="text/css">
        .ie_attention {
            display: inline-block !important;
        }
    </style>
    <![endif]--><link rel="shortcut icon" href="data:image/x-icon" type="image/x-icon" ng-href="{{favicon}}"><script>function ready() {
            var pre = document.getElementById('preload');
            document.body.removeChild(pre)
        }

        document.addEventListener('DOMContentLoaded', ready)</script><link href="css/index.min.css" rel="stylesheet"></head><body><!--[if lte IE 9]>
<div class="ie_attention">
    Ваш браузер не поддерживается. Для корректной работы приложения рекомендуется версия браузера Internet Explorer не
    ниже 10-й
    версии.
</div>
<![endif]--><div class="preloading-sceleton" id="preload"></div><svg-list></svg-list><error-pole></error-pole><div ui-view style="height:100%"></div><overlay-modal></overlay-modal><confirmation-modal ng-if="confirmModalShow()"></confirmation-modal><edit-field-component ng-if="editFieldModalShow()"></edit-field-component><logout-modal ng-if="LogOutModal"></logout-modal><div class="modal__error-modal" ng-class="{'is-opened': connectionError() }"><span style="color: white">{{'Connection was lost with a server'|translate}}</span></div><script src="index.min.js"></script></body></html>